[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
Recordings/

.dotnet-cli/
.dotnet-user/
.vscode/
.vs/
.idea/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db
desktop.ini
